{{#if error}}
<div class="alert alert-danger" role="alert">
  <strong>{{error}}</strong>
  {{#if errorDetails}}
  <div>{{errorDetails}}</div>
  {{/if}}
</div>
{{/if}}

<div style="margin-bottom:30px"> <h2>Create Metadata Template</h2></div>
<div class="row">
  <div class="col-md-4">
    <input id="templateName" class="form-control" type="text" name="name">
  </div>
  <div class="float-md-right">
    <a href="/metadata" class="btn btn-default">Cancel</a>
    <a href="#" id="createTemplate" type="button" class="btn btn-primary" data-dismiss="modal">Save</a>
  </div>
</div>

<div class="row" style="padding-top:20px">
  <div class="col-md-4" style="margin-top:20px">
    <label>Status </label>
    <select id="status">
      {{#if template.hidden}}
      <option value="visible" selected>Visible</option>
      <option value="hidden">Hidden</option>
      {{else}}
      <option value="visible">Visible</option>
      <option value="hidden" selected>Hidden</option>
      {{/if}}
    </select>
  </div>
</div>


<div class="row" style="padding-top:20px">
  <div id="accordion">

    <div class="card" style="width: 70rem;">
      <div class="card-header" id="headingOne">
          <button name="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapseOne">...</button>
          <div style="float:right;padding-right:10px;padding-top:10px">
            <a href="#">Delete</a>
          </div>
        
      </div>
      <div id="collapse{{@index}}"  aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div>
            <label for="input1" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10" style="padding-bottom:10px">
              <input name="name" type="text" class="form-control" id="input1" >
            </div>
          </div>

          <div>
            <label name="format" for="input1" class="col-lg-2 control-label">Format</label>
            <div class="col-lg-10" style="padding-bottom:10px">
              <select name="status">
                <option value="">Select Format</option>
                <option value="string">Text</option>
                <option value="float">Number</option>
                <option value="date">Date</option>
                <option value="enum">Dropdown - Single Select</option>
                <option value="multiSelect">Dropdown - Multiple Select</option>
              </select>
            </div>
          </div>

          <div>
            <label for="input1" class="col-lg-2 control-label">Description</label>
            <div  class="col-lg-10" style="padding-bottom:10px">
              <input name="description" type="text" class="form-control" id="input1" placeholder="{{field.description}}">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end card -->


  </div>
</div>

<div style="padding-top:20px">
  <span class="glyphicon glyphicon-plus"></span>
  <a href="#">Add New Attribute</a>
</div>
</span>