{{#if error}}
  <div class="alert alert-danger" role="alert">
    <strong>{{error}}</strong>
    {{#if errorDetails}}
      <div>{{errorDetails}}</div>
    {{/if}}
  </div>
{{/if}}


<div>
  <h2>Manage Metadata Templates</h2> 
  <a href="/createtemplate" class="btn btn-primary btn-default info-button" style="float:right">Create New</a>
</div>
<div style="margin-top:60px">
  <table id="metadata" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Name</th>
      <th># of Visible Attributes</th>
      <th>Status</th>
      <th>Template Key</th>
    </tr>
    </thead>
    <tbody>
    {{#each templates as | template |}}
      <tr>
        <td><a href="template?id={{template.templateKey}}">{{template.displayName}}</a></td>
        <td>{{template.visibleFields}}</td>
        
        <td>
          {{#if template.hidden}}
          Visible
          {{else}}
          Hidden
          {{/if}}
          </td>
          <td>{{template.templateKey}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>


