{{#if error}}
  <div class="alert alert-danger" role="alert">
    <strong>{{error}}</strong>
    {{#if errorDetails}}
      <div>{{errorDetails}}</div>
    {{/if}}
  </div>
{{/if}}


<div>
  <table id="retention" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Type</th>
      <!--<th>Owner</th>-->
      <th>Policy</th>
    </tr>
    </thead>
    <tbody>
    {{#each folders as |folder|}}
      <tr>
        <td>{{folder.name}}</td>
        <td>{{folder.id}}</td>
        <td><span class="glyphicon glyphicon-folder-close"></span></td>
        <!--<td>{{folder.owned_by.login}}</td>-->
        <td> 
          <button type="button" class="btn btn-primary btn-default info-button" data-toggle="modal" data-target="#myModal" data-whatever="{{folder.id}}">Retention</button>

           <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <input id="folderId" type="hidden" value="set"/>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="updateTo10" type="button" class="btn btn-primary" data-dismiss="modal">Update to 10 Year</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>


